body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url(/video-production/img/hero.jpg) center top no-repeat, url(/video-production/img/bottom-pic.jpg) right bottom 306px no-repeat;
}

.container {
  margin: 0px auto;
  width: 1140px;
}

.header {
  height: 130px;
  position: relative;
  margin-bottom: 128px;
}

.logo {
  display: block;
  position: absolute;
  left: 0px;
  top: 21px;
}

.menu {
  position: absolute;
  left: 439px;
  top: 35px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
}

.menu__item:hover {
  color: #DA0100;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  position: absolute;
  top: 18px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.contacts__text {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts__tel {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
}

.preview {
  position: absolute;
  text-align: center;
  margin-bottom: 233px;
}

.preview__title {
  position: absolute;
  font-weight: 800;
  font-size: 72px;
  margin-bottom: 15px;
  width: 786px;
  height: 164px;
  left: 180px;
  line-height: 1.1;
}

.preview__description {
  font-size: 18px;
  margin-bottom: 43px;
  position: absolute;
  width: 392px;
  height: 20px;
  left: 367px;
  top: 181px;
}

.button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  width: 195px;
  height: 57px;
  padding: 18px 54px;
  border-radius: 35px;
  text-decoration: none;
}

.button--orange {
  color: #fff;
  background: #FF3D00;
  position: absolute;
}

.button--white {
  color: #FF5500;
  background: #fff;
  border: 2px solid #FF5500;
  box-sizing: border-box;
}

.button--white:hover {
 background: #FF5500;
 color: #fff;
}

.services {
  margin-bottom: 180px;
}

.services__list {
  position: absolute;
  top: 795px;
}

.services__item {
  display: inline-block;
  min-height: 476px;
  background: #fff;
  border-radius: 5px;
  border: 5px solid #CCCCCC;
  margin-right: 7px;
  width: 362px;
  vertical-align: top;
}

.services__item:last-child {
  margin-right: 0;
}

.services__img-wrapper {
  position: relative;
}

.services__img {
  position: absolute;
    min-height: 80px;
  width: 84px;
  margin-bottom: 26px;
}

.services__content {
  padding: 40px 30px;
}

.services__title {
  font-family: Open Sans;
  font-style: normal;
  position: relative;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  margin-bottom: 15px;
}

.services__desc-block {
  color: #666666;
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
}

.services__desc-block:last-child {
  margin-right: 0;
}

.services__desc-days {
  height: 41px;
  width: 102px;
}

.services__desc-people {
  height: 41px;
  width: 123px;
}

.services__text {
  color: #666666;
  margin-bottom: 47px;
}

.news {
  margin-bottom: 55px;
}

.news__title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  left: 389px;
  margin-bottom: 50px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 10px;
  border-radius: 4px;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px 30px;
  min-height: 140px;
}

.news__date {
  font-size: 14px;
}

.news__headline {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.paginator {
  text-align: center;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link {
  background: #FF5500;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.paginator__link:hover {
  background: #FF5500;
}

.about:before {
  display: block;
  width: 490px;
  height: 505px;
  background: url(/video-production/img/cameraman.jpg) center center / cover no-repeat;
}

.about__content {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 70px 80px;
  width: 785px;
 min-height: 455px;
}

.about__title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 37px;
}

.about__text {
  color: #060606;
  margin-bottom: 61px;
}

.footer {
  height: 146px;
  position: relative;
}

.socials {
  text-outline: 53px;
  right: 300px;
  position: absolute;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background-color: center center no-repeat;
}

.socials__item-tg .socials__link {
background-image: url(/video-production/img/t2.png);
}

.socials__item-vk .socials__link {
  background-image: url(/video-production/img/vk2.png);
  }

.socials__item-fb .socials__link {
  background-image: url(/video-production/img/f2.png);
  }

.socials__item-insta .socials__link {
  background-image: url(/video-production/img/in2.png);
  }