html, body {
  min-height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
flex: 1;
}

.main-page-wrapper {
  background: url(../../img/hero.jpg) center top no-repeat, url(../../img/bottom-pic.jpg) right bottom 306px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1142px;
}
