.about:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -97px;
  left: -354px;
  display: block;
  width: 490px;
  height: 505px;
  background-image: url("../../img/cameraman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-left: 354px;
  position: relative;
  z-index: 1;
  display: flex;
}
.about__content {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 68px 90px;
  width: 785px;
  min-height: 455px;
  margin-bottom: 50px;
}

.about__title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 37px;
}

.about__text {
  color: #060606;
  margin-bottom: 61px;
  max-width: 490px;
}
