.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  display: block;
  transition: all 0.3s;
}

.dropdown__menu {
  position: absolute;
  background: rgba(255,255,255,0.8);
  padding: 16px 20px;
  width: 197px;
  top: 100%;
  right: 0;
  margin-top: 5px;
  display: none;
  border-radius: 4px;
  transition: opacity .5s;
  right: 9999px;
}

.contacts:hover .dropdown__menu {
  opacity: 1;
  right: 0;
}

.dropdown__menu::before {
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
}

.dropdown__menu::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  position: absolute;
  bottom: 100%;
  right: 30px;
  border-top: 0;
  border-bottom: 10px solid rgba(255,255,255,0.8);
}

.dropdown__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown__item-time {
  font-weight: 700;
  font-size: 13px;
  color: #1E1F20;
}

.dropdown__item-lunch {
  font-weight: 600;
  font-size: 13px;
  color: #1E1F20;
}
