.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid #2f3034;
}

.footer-container__section {
  height: 129px;
 margin-top: 7px;
}

.inner-footer {
  margin-top: auto;
}

.inner-footer__container {
  padding: 45px 0;
}

