.form__row {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  background: #FFFFFF;
  padding: 22px 30px;
  font-size: 18px;
  color: #1A1B1E;
  border: none;
  outline: none;
}

.form__input:focus {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.form__input::placeholder {
  color: #666666;;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 30px;
}

.form__controls-title {
  width: 40%;
  font-size: 18px;
  color: #1A1B1E;
  padding-left: 25px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 20px;
}

.form__btn:last-child {
  margin-right: 0;
}