.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--main {
  margin-bottom: 150px;
}

.header--inner {
  margin-bottom: 36px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}