.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 57px;
}

.menu__item:hover {
  color: #DA0100;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}