.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 57px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
  line-height: 19px;
}

.menu__link:hover, .menu__link:visited, .menu__link:active {
  color: #DA0100;
  transition: all 0.3s;
}
