.offers {
  overflow: hidden;
 display: flex;
 flex-direction: column;
}

.offers__list {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.offers__item {
  font-size: 16px;
  min-height: 476px;
  background: #fff;
  border-radius: 5px;
  border: 5px solid #CCCCCC;
  width: calc(100% / 3 - 18px);
}

.offers__img-wrapper {
  position: relative;
  padding: 36px 34px 44px 25px;
  height: 100%;
}

.offers__img {
  min-height: 83px;
  width: 84px;
  margin-bottom: 7px;
}

.offers__content {
  min-height: 296px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offers__title {
  font-style: normal;
  position: relative;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  margin-bottom: 20px;
}

.offers__desc-block {
  color: #666666;
  width: 49%;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.offers__desc-days {
  height: 41px;
}

.offers__desc-people {
  height: 41px;
}

.offers__text {
  font-size: 14px;
  color: #666666;
  margin-bottom: 32px;
  line-height: 22px;
}

.offers__button {
 margin-top: auto;}
