.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator--main {
  margin-bottom: 250px;
}

.paginator--services {
margin-bottom: 90px;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
  text-align: center;
}

.paginator__item--active .paginator__link {
  background: #FF5500;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.paginator__link:hover {
  background: #FF5500;
}
