.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.partners__item:nth-child(4n + 1) {
  justify-content: flex-start;
}
  
.partners__item:nth-child(4n + 4) {
  justify-content: flex-end;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 210px;
  height: 75px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
} 

.partners__link:hover {
  filter: grayscale(0);
  transition: all 0.3s;
}