.socials {
  top: 32px;
  right: 260px;
  position: absolute;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background-color: center center no-repeat;
}

.socials__item-tg .socials__link {
background-image: url(../../img/t2.png);
}

.socials__item-vk .socials__link {
  background-image: url(../../img/vk2.png);
  }

.socials__item-fb .socials__link {
  background-image: url(../../img/f2.png);
  }

.socials__item-insta .socials__link {
  background-image: url(../../img/in2.png);
  }
