.socials {
  top: 32px;
  margin-right: -12px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  position: relative;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item-tg {
background-image: url(../../img/t2.png);
opacity: 50%;
}

.socials__item-vk {
background-image: url(../../img/vk2.png);
opacity: 50%;
}

.socials__item-fb {
background-image: url(../../img/f2.png);
opacity: 50%;
}

.socials__item-insta {
background-image: url(../../img/in2.png);
opacity: 50%;
}


.socials__item-tg:hover {
  opacity: 100%;
  transition: .3s;
}

.socials__item-vk:hover {
  opacity: 100%;
  transition: .3s;
}

.socials__item-fb:hover {
  opacity: 100%;
  transition: .3s;
}

.socials__item-insta:hover {
  opacity: 100%;
  transition: .3s;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background-color: center center no-repeat;
}