.top-line {
  min-height: 416px;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
  background: url(../../img/top-line.jpg) right 45% top no-repeat;
}

.top-line__container {
display: flex;
flex: 1;
flex-direction: column;
justify-content: space-between;
}

.page-title {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: 700;
}

.breadcrumbs__item:after {
  content: "/";
  color: 9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}