.welcome {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(../../img/bottom-pic.jpg) center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central__logo {
  margin-bottom: 60px;
}

.central--video {
  opacity: 0;
  animation: rotateIn .9s;
  animation-fill-mode: forwards;
}

@keyframes rotateIn {
  from {
    transform: scale(0.1) rotate(30deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}